.git
.idea
.vscode

.env
*.env
*.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

backend/vendor
backend/node_modules
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

frontend/node_modules
frontend/dist
frontend/vite-*.log
